name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - '3.3'
          - '3.4'
        activerecord:
          - '7.0'
          - '7.1'
          - '7.2'
          - '8.0'
          - '8.1'
    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_DB: amountable_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    name: Ruby ${{ matrix.ruby }} / ActiveRecord ${{ matrix.activerecord }}
    env:
      RAILS_VERSION: ${{ matrix.activerecord }}
    steps:
      - uses: actions/checkout@v6
      - run: |
          sudo apt-get -yqq install libpq-dev
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: |
          bundle exec rake
        env:
          PGHOST: 127.0.0.1
          PGUSER: postgres
          RAILS_ENV: test
  main:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - run: |
         echo "Confirmed all jobs passed"
